.heading-level-1 h1 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;

  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 16px 0;
  grid-gap: 16px;

  margin-top: 0.6em;
}

.heading-level-1 h1:after {
  content: " ";
  border-bottom: 2px solid #1e2939;
  background-color: #ffffff00;
}

.small-caps {
  font-variant: small-caps;
}

ul li::marker {
  font-size: 0.8rem;
}

li {
  text-align: justify;
}
